.questionnaire{
    background-color: white;
    width: 800px;
    margin: 15px auto;
    box-shadow: 15px 15px 15px black;
    text-align: center;
    font-family: "微软雅黑 Light";
    font-size: 15px;
    padding: 20px;
}
*{
    margin: 0px;
    padding: 0px;

}
hr{
    width: 80%;
    margin: 20px auto;
    text-align: center;

}
form{
    width: 80%;
    text-align:left;
    margin: 15px auto;
}
input{
margin: 20px;

}

input[type="text"], input[type="tel"]{
    width: 100px;
    height: 20px;
    border: 0;
    border-bottom: 1px black solid;
    margin: 10px 20px 0px;
}
.btn{
    text-align: center;
}
button{
    width: 120px;
    height: 40px;
    background-color: orange;
    border: 0px;
    color: white;
    font-size: 18px;
    font-family: "微软雅黑 Light";
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
    padding-top:10px;
}
button:hover{
    background-color: #0068d0;
}
